body {
    font-family: 'Arial Narrow Bold', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 95vh;
    padding: 0;
    margin: 0;
    gap: 2%;
}

.calcBody {
    display: flex; 
    width: 20%;
    height: 55%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 0.2vw solid black;
    border-radius: 0.9vw;
    padding: 1.5%;
    background-color: rgb(15, 14, 14);
 }

.header {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 98%;
    border: 0.2vw solid black;
    border-radius: 0.5vw;
    font-weight: bolder;
    font-size: 2.3vh;  
    background-color: rgba(255, 255, 255);
 }

.display {
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    height: 12%;
    width: 95%;
    border: 0.2vw solid black;
    border-radius: 0.5vw;
    font-weight: bold;
    font-size: 2.2vh; 
    margin-top: 5%;
    padding: 2%; 
    background-color: rgba(255, 255, 255);
}

.clrSection {
    display: flex; 
    justify-content: flex-end;
    align-items: center;
    height: 10%;
    width: 100%;
    margin-right: 2%;
}

#clrBtn {
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 0.45vw;
    font-size: 1.5vh;
    width: 20%;
    height: 60%;
    font-weight: bold;
    background-color: rgba(255, 255, 255);
}

/* Math Section */
.mathSection {
    display: flex; 
    height: 60%;
    width: 100%;
    gap: 2%
}

.numSection {
    display: flex; 
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    border: 0.2vw solid black;
    border-radius: 0.5vw;
    width: 80%;
    height: 95%;
    padding: 2%;
    background-color: rgb(255, 255, 255);
}

.numBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2.5vh;
    width: 30%;
    height: 22%;
    border-radius: 0.5vw;
    color: rgb(255, 255, 255);
    background-color: rgb(15, 14, 14);
}

.funcSection {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 0.2vw solid black;
    border-radius: 0.5vw;
    width: 20%;
    height: 95%;
    padding: 2%;
    background-color: rgba(255, 255, 255);
}

.funcBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 2.5vh;
    width: 90%;
    height: 15%;
    border-radius: 0.5vw;
    color: rgba(255, 255, 255);
    background-color: rgb(15, 14, 14);
}

#equals {
    height: 30%;
}